extends layout2  

block content
  .content
  div.slideshow-container
  div.mySlides
    img(src="Images/b1.png" style="width:100%")
  
  div.mySlides
    img(src="Images/b2.png" style="width:100%")
  
  div.mySlides
    img(src="Images/b3.png" style="width:100%")
  

  a.prev(onclick="plusSlides(-1)") &#10094;
  a.next(onclick="plusSlides(1)") &#10095;

  br

  



  div.cabecalho
      h1 Produtos em destaque
      p Aqui você pode encontrar artefatos de tecnologicos e de ultima geração

  if produtos.length
    each produto in produtos
      div.produtos
        button.buttoncontent 
          
          h3  #{produto.nome}
          img(src=produto.imagem, alt=produto.nome)
          p R$ #{produto.preco}
          p #{produto.descricao}
  else
    p Nemnhum produto disponível no momento
  button.vermais  ver mais
  
  