extends layout2  

block content
  .content
  div.slideshow-container
  div.mySlides
    img(src="https://cdna.artstation.com/p/assets/images/images/049/587/522/large/guilherme-freitas-reamakefinal.jpg?1652835031" style="width:100%")
  
  div.mySlides
    img(src="https://cdnb.artstation.com/p/assets/images/images/046/086/667/large/guilherme-freitas-br-copy12-copy.jpg?1644267167" style="width:100%")
  
  div.mySlides
    img(src="https://cdnb.artstation.com/p/assets/images/images/046/087/123/large/guilherme-freitas-1.jpg?1644267792" style="width:100%")
  

  a.prev(onclick="plusSlides(-1)") &#10094;
  a.next(onclick="plusSlides(1)") &#10095;

  br

  



  div.cabecalho
      h1 Produtos em destaque
      p Aqui você pode encontrar artefatos de tecnologicos e de ultima geração

  if produtos.length
    each produto in produtos
      div.produtos
        button.buttoncontent 
          
          h3  #{produto.nome}
          img(src=produto.imagem, alt=produto.nome)
          p R$ #{produto.preco}
          p #{produto.descricao}
  else
    p Nemnhum produto disponível no momento
  button.vermais  ver mais
  
  